{% extends 'base.html' %}

{% block title %}Indiemusi.ch{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold my-12">Indiemusi.ch: music players united in doubt</h1>
    <div>
        <p class="py-3">
           The current state of social media leaves us with a lot of questions. How can we stay united as music players amidst of platform monopolies? 
        </p>
        <p class="py-3">
           Via this website, we try to stay connected as a music scene. We explore how we can find each other on decentralised platforms like Mastodon and Bluesky, but we also think about how we can represent a diverse and respectful perspective on Meta platforms.
        </p>
        <p class="py-3">
           Join our <a href="https://t.me/fightingbroligarchy"  target="_blank" class="text-blue-600 hover:text-blue-800 hover:underline">Telegram channel</a> to stay updated on our activities.
        </p>
        <p class="py-3">
            Currently we provide a kind of directory of music players from our scene with links to different platforms.
        </p>
           <div class="mt-8">
            <a href="{% url 'members_list' %}" 
               class="inline-block px-6 py-3 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 transition-colors duration-200">
                View Members
            </a>
        </div>
    </div>
{% endblock %}
